* {
    padding: 0;
    margin: 0;
    display: border-box;
    letter-spacing: 2.5px;

}

body {
    width: 100%;
    background-color: #313131;
    color: whitesmoke;
    font-family: "Kalam";
    overflow: hidden;
}

hr {
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 5px 20px #fefffe;
}

ul {
    list-style: none;
}