.add-container {
    position: absolute;
    width: 90%;
    top: 15%;
    left: 5%;
    z-index: 3;
    min-height: 65vh;
    max-height: 65vh;
    border-radius: 25px;
    box-shadow: 0px 10px 45px #32a98d;
    animation-name: add-container-animation;
    animation-duration: 750ms;
}

textarea {
    border: 2px solid black;
    width: 100%;
    border-radius: 25px;
    min-height: 25vh;
    max-height: 25vh;
    background-color: transparent;
    padding: 5px;
    color: black;

}


@keyframes add-container-animation {
    from {
        width: 20%;
        min-height: 0;
        height: 0;
        left: 30%
    }

    to {
        width: 90%;
        min-height: 65vh;
        height: 65vh;
        left: 5%
    }
}