.list-item {
    animation-name: list-item-animation;
    animation-duration: 1500ms;
    transition-duration: 0.3s;
}

.list-item:hover {
    box-shadow: 0px 10px 40px #859285;
}

@keyframes list-item-animation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.done-icon {
    cursor: pointer;
    background-color: transparent;
}